<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject bold uppercase">Process Master</span>
    </div>

    <div class="actions">
      <button  
        type="button"
        class="btn btn-primary m-r-5"
        (click)="exportProcessMaster()"
      >
        <i class="fa fa-file-excel-o"></i> Download Excel
      </button>
      <button  
      type="button"
      class="btn btn-primary m-r-5"
      (click)="sampleexportProcessMaster()"
      [disabled]="isStackHolder"
    >
      <i class="fa fa-file-excel-o"></i> Sample Excel
    </button>
      <input type="file" #fileInput class="hidden" (change)="importExcel()" />
      <button [disabled]="isStackHolder"
        type="button"
        class="btn btn-primary"
        (click)="fileInput.click()"
        *ngIf="accessRights.isEdit"
      >
        <i class="fa fa-file-excel-o"></i> Upload Excel
      </button>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="tabbable-custom">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#sector" data-toggle="tab"> Sector </a>
      </li>
      <li>
        <a href="#businesscycle" data-toggle="tab"> Business Cycle </a>
      </li>
      <li>
        <a href="#pl1" data-toggle="tab"> Process L1 </a>
      </li>
      <li>
        <a href="#pl2" data-toggle="tab"> Process L2 </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="sector">
        <app-sector></app-sector>
      </div>
      <div class="tab-pane" id="businesscycle">
        <app-businessprocess></app-businessprocess>
      </div>
      <div class="tab-pane" id="pl1">
        <app-processlevel1></app-processlevel1>
      </div>
      <div class="tab-pane" id="pl2">
        <app-processlevel2></app-processlevel2>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>