.myClass {
    font-weight: bold;
  }
  .red-border-class {
    border: 1px solid red;
  }
  /* .dataTables_length #user_table_length{
    display: none !important;
  } */
  .wrapper1, .wrapper2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y:hidden;
  }
  
  .div1 {
    width:2400px;
    height: 30px;
  }
  
  .div2 {
    width:2000px; 
  }
  .wrapper3, .wrapper4 {
    width: 100%;
    overflow-x: scroll;
    overflow-y:hidden;
  }
  
  .div3 {
    width:2400px;
    height: 30px;
  }
  
  .div4 {
    width:2000px; 
  }