<div id="CPIComponent">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject bold uppercase"
          >Control Performance Indicator</span
        >
      </div>

      <div class="actions">
        <button [disabled]="isStackHolder"
          type="button"
          (click)="addcpi()"
          class="btn btn-primary"
          *ngIf="accessRights.isAdd"
        >
          <i class="fa fa-plus"></i> New
        </button>
      </div>
    </div>

    <div class="portlet-body">
      <app-table
        [tableId]="cpi_table"
        [tableColumns]="tableColumns"
        [tableScroll]="true"
        [tableApi]="'api/controlperformanceindicator'"
        [tableFilters]="tableFilters"
      ></app-table>
    </div>
  </div>
</div>

<form name="form" #cpiForm="ngForm" novalidate>
  <div
    class="modal fade"
    id="manageCPIModal"
    tabindex="-1"
    data-width="760"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header" *ngIf="!isEdit">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          ></button>
          <h4 class="modal-title" style="font-weight: bold">
            <i class="fa fa-plus"></i> &nbsp;New Control Performance Indicator
          </h4>
        </div>
        <div class="modal-header" *ngIf="isEdit">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          ></button>
          <h4 class="modal-title" style="font-weight: bold">
            <i class="fa fa-edit"></i> &nbsp;Update Control Performance
            Indicator
          </h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Control Rating <span class="text-danger">*</span></label>
            <input
              #controlRatings="ngModel"
              type="text"
              id="controlRating"
              name="controlRating"
              [(ngModel)]="controlRating"
              placeholder="Enter Control Rating"
              class="form-control"
              required
              ngModel
              [ngClass]="{
                'red-border-class': controlRatings.errors && submitted
              }"
            />
            <div
              *ngIf="submitted && controlRatings.errors"
              class="invalid-feedback"
            >
              <div
                class="text-danger"
                *ngIf="submitted && controlRatings.errors"
              >
                Control Rating is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Weightage<span class="text-danger">*</span></label>
            <input
              #weightages="ngModel"
              type="number"
              id="weightage"
              name="weightage"
              [(ngModel)]="weightage"
              placeholder="Enter weightage"
              class="form-control"
              required
              ngModel
              [ngClass]="{
                'red-border-class': weightages.errors && submitted
              }"
            />
            <div
              *ngIf="submitted && weightages.errors"
              class="invalid-feedback"
            >
              <div class="text-danger" *ngIf="submitted && weightages.errors">
                Weightage is required
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success"
            (click)="saveCPI()"
            *ngIf="!isEdit"
          >
            <i class="fa fa-save"></i> Save
          </button>

          <button
            type="button"
            class="btn btn-success"
            (click)="saveCPI()"
            *ngIf="isEdit"
          >
            <i class="fa fa-save"></i> Save
          </button>

          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="cancelAddEdit($event)"
          >
            <i class="fa fa-close"></i> Close
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</form>
