<div>Work In Progress</div>
<!-- <div class="portlet box">
    <div class="portlet-body form">
        <form action="#" class="horizontal-form">
            <input type="hidden" value="" id="am_auditId" name="auditId">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Select Audit Memo Template <span class="required" aria-required="true"> * </span></label>
                            <select class="form-control" id="am_auditmemo" placeholder="Select Audit Memo Template">
                                <option value="">Select Audit Memo Template</option>
                                <option value="">Audit Memo 1</option>
                                <option value="">Audit Memo 2</option>
                                <option value="">Audit Memo 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="form-actions right">
                <button type="submit" class="btn blue"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn blue"><i class="fa fa-envelope"></i> Email Audit Memo</button>
            </div>
        </form>
    </div>
</div>
 -->
