<div id="testingComponent">
  <div [ngClass]="{ hide: formVisible }" class="form-actions top form-group">
    <button type="button" class="btn btn-default" (click)="refreshTable()">
      <i class="fa fa-eraser"></i> Clear Filters
    </button>
    <div class="pull-right">
      <button
        [disabled]="isStackHolder"
        type="button"
        class="btn btn-primary pull-right"
        (click)="sendMultipleEmail()"
      >
        <i class="fa fa-send"></i> Send Email
      </button>
      <button
        type="button"
        class="btn btn-primary m-r-5"
        (click)="exportTestingOfControl()"
      >
        <i class="fa fa-file-excel-o"></i> Download Excel
      </button>
      <button
      type="button"
      class="btn btn-primary m-r-5"
      (click)="sampleExportTestingOfControl()"
      [disabled]="isStackHolder"
    >
      <i class="fa fa-file-excel-o"></i> Sample Excel
    </button>
      <input
        type="file"
        #fileInput
        class="hidden"
        (change)="importTestingOfControl()"
      />

      <button
        [disabled]="isStackHolder"
        type="button"
        class="btn btn-primary"
        (click)="fileInput.click()"
        *ngIf="accessRights.isEdit"
      >
        <i class="fa fa-file-excel-o"></i> Upload Excel
      </button>
    </div>
  </div>
  <div [ngClass]="{ hide: formVisible }" class="row widget-row">
    <div class="col-md-7">
      <!-- BEGIN WIDGET THUMB -->
      <div
        class="
          widget-thumb widget-bg-color-white
          text-uppercase
          margin-bottom-20
          bordered
        "
      >
        <h4 class="widget-thumb-heading">
          Audit Procedure in Scope ({{ summaryTotal }})
        </h4>

        <div class="row">
          <div class="col-md-3">
            <div class="widget-thumb-wrap">
              <div
                class="widget-thumb-body text-center"
                [ngClass]="{ highlight: filterOption == 'notstarted' }"
              >
                <a (click)="ShowFilterData('notstarted')">
                  <span class="widget-thumb-subtitle">Not Started</span>
                  <span class="widget-thumb-body-stat"
                    >{{ summaryNotStarted }}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="widget-thumb-wrap">
              <div
                class="widget-thumb-body text-center"
                [ngClass]="{ highlight: filterOption == 'inprogress' }"
              >
                <a (click)="ShowFilterData('inprogress')">
                  <span class="widget-thumb-subtitle">In Progress</span>
                  <span class="widget-thumb-body-stat"
                    >{{ summaryInProgress }}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="widget-thumb-wrap">
              <div
                class="widget-thumb-body text-center"
                [ngClass]="{ highlight: filterOption == 'inreview' }"
              >
                <a (click)="ShowFilterData('inreview')">
                  <span class="widget-thumb-subtitle">In Review</span>
                  <span class="widget-thumb-body-stat"
                    >{{ summaryInReview }}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="widget-thumb-wrap">
              <div
                class="widget-thumb-body text-center"
                [ngClass]="{ highlight: filterOption == 'completed' }"
              >
                <a (click)="ShowFilterData('completed')">
                  <span class="widget-thumb-subtitle">Completed</span>
                  <span class="widget-thumb-body-stat"
                    >{{ summaryCompleted }}
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END WIDGET THUMB -->
    </div>

    <div class="col-md-5">
      <!-- BEGIN WIDGET THUMB -->
      <div
        class="
          widget-thumb widget-bg-color-white
          text-uppercase
          margin-bottom-20
          bordered
        "
      >
        <h4 class="widget-thumb-heading">
          Testing Result ({{ summaryTRTotal }})
        </h4>

        <div class="row">
          <div class="col-md-3">
            <div class="widget-thumb-wrap">
              <div
                class="widget-thumb-body text-center"
                [ngClass]="{ highlight: filterTestingResult == 'effective' }"
              >
                <a (click)="filterByTestingResult('effective')">
                  <span class="widget-thumb-subtitle">Effective</span>
                  <span class="widget-thumb-body-stat"
                    >{{ summaryEffective }}
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="widget-thumb-wrap">
              <div
                class="widget-thumb-body text-center"
                [ngClass]="{ highlight: filterTestingResult == 'ineffective' }"
              >
                <a
                  href="javascript:void(0)"
                  (click)="filterByTestingResult('ineffective')"
                >
                  <span class="widget-thumb-subtitle">Ineffective</span>
                  <span class="widget-thumb-body-stat"
                    >{{ summaryIneffective }}
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="widget-thumb-wrap">
              <div
                class="widget-thumb-body text-center"
                [ngClass]="{ highlight: filterTestingResult == 'notselected' }"
              >
                <a
                  href="javascript:void(0)"
                  (click)="filterByTestingResult('notselected')"
                >
                  <span class="widget-thumb-subtitle">Not Selected</span>
                  <span class="widget-thumb-body-stat"
                    >{{ summaryNotSelected }}
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END WIDGET THUMB -->
    </div>
  </div>

  <div
    [ngClass]="{ hide: formVisible }"  class="row mt-20">
    <div class="col-md-12">
      <!-- <div class="wrapper1">
        <div class="div1"></div>
      </div>
      <div class="wrapper2">
        <div class="div2"> -->
          <table
            [id]="tableId"
            class="table table-bordered" 
          ></table>
          <!-- <app-table -->
          <!-- [tableId]="tableId" -->
          <!-- [tableColumns]="tableColumns" -->
          <!-- [tableApi]="tableApiUrl" -->
          <!-- [tableFilters]="tableFilters" -->
          <!-- ></app-table> -->
        <!-- </div>
      </div> -->
    </div>
  </div>
  <div [ngClass]="{ hide: !formVisible }">
    <div class="portlet box yellow">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-edit"></i> Testing of Control</div>
        <div class="tools">
          <a href="javascript:;" class="collapse"> </a>
        </div>
      </div>
      <div class="portlet-body form">
        <div class="form-body">
          <div class="row mt-20">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Business Cycle</label>
                <input
                  type="text"
                  id="BusinessCycle"
                  name="BusinessCycle"
                  [(ngModel)]="BusinessCycle"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Process L1</label>
                <input
                  type="text"
                  id="ProcessL1"
                  name="ProcessL1"
                  [(ngModel)]="ProcessL1"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Process L2</label>
                <input
                  type="text"
                  id="ProcessL2"
                  name="ProcessL2"
                  [(ngModel)]="ProcessL2"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Risk ID</label>
                <input
                  type="text"
                  id="RiskId"
                  name="RiskId"
                  [(ngModel)]="RiskId"
                  placeholder="Enter Risk ID"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Risk Rating</label>
                <input
                  type="text"
                  id="RiskRating"
                  name="RiskRating"
                  [(ngModel)]="RiskRating"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
          </div>
          <!-- <div class="row"> -->
          <!-- <div class="col-md-12"> -->
          <!-- <div class="form-group"> -->
          <!-- <label class="control-label">Risk Title</label> -->
          <!-- <input -->
          <!-- type="text" -->
          <!-- id="RiskTitle" -->
          <!-- name="RiskTitle" -->
          <!-- [(ngModel)]="RiskTitle" -->
          <!-- placeholder="Enter Risk Title" -->
          <!-- class="form-control" -->
          <!-- disabled -->
          <!-- /> -->
          <!-- </div> -->
          <!-- </div> -->
          <!-- </div> -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Risk Description</label>
                <textarea
                  id="RiskDesc"
                  name="RiskDesc"
                  [(ngModel)]="RiskDesc"
                  placeholder="Enter Risk Description"
                  class="form-control"
                  disabled
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Control ID</label>
                <input
                  type="text"
                  id="ControlId"
                  name="ControlId"
                  [(ngModel)]="ControlId"
                  placeholder="Enter Control ID"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Control Type</label>
                <input
                  type="text"
                  id="ControlType"
                  name="ControlType"
                  [(ngModel)]="ControlType"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
          </div>
          <!-- <div class="row"> -->
          <!-- <div class="col-md-12"> -->
          <!-- <div class="form-group"> -->
          <!-- <label class="control-label">Control Title</label> -->
          <!-- <input -->
          <!-- type="text" -->
          <!-- id="ControlTitle" -->
          <!-- name="ControlTitle" -->
          <!-- [(ngModel)]="ControlTitle" -->
          <!-- placeholder="Enter Control Title" -->
          <!-- class="form-control" -->
          <!-- disabled -->
          <!-- /> -->
          <!-- </div> -->
          <!-- </div> -->
          <!-- </div> -->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Control Nature</label>
                <input
                  type="text"
                  id="ControlNature"
                  name="ControlNature"
                  [(ngModel)]="ControlNature"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Control Frequency</label>
                <input
                  type="text"
                  id="ControlFrequency"
                  name="ControlFrequency"
                  [(ngModel)]="ControlFrequency"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Control Owner</label>
                <input
                  type="text"
                  id="ControlOwner"
                  name="ControlOwner"
                  [(ngModel)]="ControlOwner"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Control Description</label>
                <textarea
                  id="ControlDescription"
                  name="ControlDescription"
                  [(ngModel)]="ControlDescription"
                  placeholder="Enter Control Description"
                  class="form-control"
                  disabled
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Procedure ID</label>
                <input
                  type="text"
                  id="ProcedureId"
                  name="ProcedureId"
                  [(ngModel)]="ProcedureId"
                  class="form-control"
                  disabled
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Procedure Title</label>
                <input
                  type="text"
                  id="ProcedureTitle"
                  name="ProcedureTitle"
                  [(ngModel)]="ProcedureTitle"
                  class="form-control"
                  disabled
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Procedure Description</label>
                <textarea
                  id="ProcedureDesc"
                  name="ProcedureDesc"
                  [(ngModel)]="ProcedureDesc"
                  class="form-control"
                  disabled
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Start Date</label>
                <div class="input-group">
                  <input
                    type="text"
                    id="ProcedureStartDate"
                    name="ProcedureStartDate"
                    [(ngModel)]="ProcedureStartDate"
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    ngbDatepicker
                    #procStartDate="ngbDatepicker"
                    readonly
                    disabled
                  />
                  <div class="input-group-btn">
                    <button
                      class="btn btn-default calendar"
                      (click)="procStartDate.toggle()"
                      type="button"
                      disabled
                    >
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">End Date</label>
                <div class="input-group">
                  <input
                    type="text"
                    id="ProcedureEndDate"
                    name="ProcedureEndDate"
                    [(ngModel)]="ProcedureEndDate"
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    ngbDatepicker
                    #procEndDate="ngbDatepicker"
                    readonly
                    disabled
                  />
                  <div class="input-group-btn">
                    <button
                      class="btn btn-default calendar"
                      (click)="procEndDate.toggle()"
                      type="button"
                      disabled
                    >
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Testing Result</label>
                <select
                  id="Conclusion"
                  name="Conclusion"
                  [(ngModel)]="Conclusion"
                  placeholder="Select Testing Result"
                  class="form-control"
                >
                  <option value="">Select Testing Result</option>
                  <option value="Effective">Effective</option>
                  <option value="Ineffective">Ineffective</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Analytics</label>
                <select
                  id="Analytics"
                  name="Analytics"
                  [(ngModel)]="Analytics"
                  class="form-control"
                >
                  <option value="No">No</option>
                  <option value="Yes">Yes</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Analytics Test Number</label>
                <input
                  id="TestNumber"
                  name="TestNumber"
                  [(ngModel)]="TestNumber"
                  type="text"
                  placeholder="Enter Analytics Test Number"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Performed By</label>
                <input
                  type="text"
                  id="Responsibility"
                  name="Responsibility"
                  [(ngModel)]="Responsibility"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Reviewed By</label>
                <input
                  type="text"
                  id="Reviewer"
                  name="Reviewer"
                  [(ngModel)]="Reviewer"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Finding</label>
                <select
                  id="Finding"
                  name="Finding"
                  [(ngModel)]="Finding"
                  class="form-control"
                  placeholder="Select Finding"
                >
                  <option value="" selected>Select Finding</option>
                  <option value="Reportable">Reportable</option>
                  <option value="Non Reportable">Non Reportable</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row" style="display: none">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Design Marks </label>
                <!-- <input -->
                <!-- type="text" -->
                <!-- id="DesignMarks" -->
                <!-- name="DesignMarks" -->
                <!-- [(ngModel)]="DesignMarks" -->
                <!-- placeholder="Enter Design Marks" -->
                <!-- class="form-control" -->
                <!-- required -->
                <!-- /> -->
                <select
                  id="DesignMarks"
                  name="DesignMarks"
                  [(ngModel)]="DesignMarks"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Design Effectiveness (%)</label>
                <input
                  type="text"
                  id="DesignEffectiveness"
                  name="DesignEffectiveness"
                  [(ngModel)]="DesignEffectiveness"
                  placeholder="Enter Design Effectiveness"
                  class="form-control"
                  required
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">OE Marks </label>
                <!-- <input -->
                <!-- type="text" -->
                <!-- id="OEMarks" -->
                <!-- name="OEMarks" -->
                <!-- [(ngModel)]="OEMarks" -->
                <!-- placeholder="Enter OE Marks" -->
                <!-- class="form-control" -->
                <!-- required -->
                <!-- /> -->
                <select
                  id="OEMarks"
                  name="OEMarks"
                  [(ngModel)]="OEMarks"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">OE Effectiveness (%)</label>
                <input
                  type="text"
                  id="OEEffectiveness"
                  name="OEEffectiveness"
                  [(ngModel)]="OEEffectiveness"
                  placeholder="Enter OE Effectiveness"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row mt-20">
            <div class="col-md-12 text-right mb-20">
              <button
                type="button"
                (click)="handleFileUploadDialog.show()"
                class="btn btn-primary"
              >
                Upload File
              </button>
            </div>
            <div class="col-md-12">
              <table [id]="'fileTable'" class="table table-bordered"></table>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-12 text-right">
              <button
                type="button"
                (click)="confirmSaveTOC($event)"
                class="btn btn-success"
              >
                <i class="fa fa-save"></i> Save
              </button>
              <button
                type="button"
                (click)="history.show()"
                class="btn btn-primary pull-left"
              >
                <i class="fa fa-history"></i> History
              </button>
              <!-- <button -->
              <!-- type="button" -->
              <!-- *ngIf="!isApprover" -->
              <!-- (click)="updateStatus('inreview')" -->
              <!-- class="btn green" -->
              <!-- > -->
              <!-- Send For Approval -->
              <!-- </button> -->

              <button
                type="button"
                *ngIf="isCompleted"
                (click)="emailToControlOwner()"
                class="btn btn-primary"
              >
                <i class="fa fa-send"></i> Send Mail to Control Owner
              </button>

              <button
                type="button"
                *ngIf="isApprover"
                (click)="updateStatus('completed')"
                class="btn btn-success"
              >
                <i class="fa fa-check"></i> Approve
              </button>
              <button
                type="button"
                (click)="handleRejectModal('show')"
                *ngIf="isApprover"
                class="btn btn-danger"
              >
                <i class="fa fa-ban"></i> Reject
              </button>
              <button
                type="button"
                (click)="cancelAddEdit($event)"
                class="btn btn-default"
              >
                <i class="fa fa-close"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="rejectModal"
  tabindex="-1"
  data-width="760"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        ></button>
        <h4 class="modal-title" style="font-weight: bold">
          <i class="fa fa-cogs"></i> &nbsp;Reject Testing of Control
        </h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Enter Justification</label>
                <!-- <textarea -->
                <!-- name="Justification" -->
                <!-- [(ngModel)]="Justification" -->
                <!-- placeholder="Enter Justification" -->
                <!-- class="form-control" -->
                <!-- required -->
                <!-- ></textarea> -->
                <ckeditor
                  [(ngModel)]="Justification"
                  name="Justification"
                  placeholder="Enter Justificationn"
                  [editor]="Editor"
                ></ckeditor>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="rejectTOC"
            (click)="rejectTOC()"
            class="btn btn-success"
          >
            <i class="fa fa-save"></i> Save
          </button>

          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-close"></i> Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="tocContentModal"
  tabindex="-1"
  data-width="760"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        ></button>
        <h4 class="modal-title" style="font-weight: bold">
          <i class="fa fa-cogs"></i> &nbsp;<span id="toccontent-title"></span>
        </h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" id="toccontent"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-close"></i> Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="tocFileUploadModal"
  tabindex="-1"
  data-width="760"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        ></button>
        <h4 class="modal-title" style="font-weight: bold">
          <i class="fa fa-cogs"></i>Upload Files
        </h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Upload Files</label>
                <input
                  id="tocFiles"
                  name="tocFiles"
                  type="file"
                  placeholder="Uplod Files"
                  class="form-control"
                  multiple
                  #tocFiles
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="uploadfiles()" class="btn btn-primary">
            <i class="fa fa-upload"></i> Upload
          </button>

          <button type="button" (click)="clearfiles()" class="btn btn-default">
            <i class="fa fa-eraser"></i> Clear
          </button>

          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-close"></i> Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="sendTOCMultipleMailModal"
  tabindex="-1"
  data-width="760"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title" style="font-weight: bold">
          <i class="fa fa-send"></i> &nbsp;Sending mail in progress...
        </h4>
      </div>

      <div class="modal-body bg-warning">
        <p>Please wait while we sending mail(s) to all selected records.</p>
        <p>{{ tocMailSent }} mail(s) sent out of {{ tocMailTotal }}.</p>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  class="modal fade"
  id="ConfimSendForApprovalModal"
  tabindex="-1"
  data-width="760"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        ></button>

        <h4 class="modal-title" style="font-weight: bold">
          <i class="fa fa-exclamation"></i> &nbsp;Confirm
        </h4>
      </div>

      <div class="modal-body">
        {{ confirmationMessage }}
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          *ngIf="!isApprover"
          (click)="saveSendTOC()"
        >
          <i class="fa fa-send"></i> Save & Send
        </button>

        <button type="button" class="btn btn-success" (click)="saveTOC()">
          <i class="fa fa-save"></i> Save Only
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="HistoryModal"
  tabindex="-1"
  data-width="1200"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        ></button>

        <h4 class="modal-title" style="font-weight: bold">Histroy</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table [id]="tableIdHistory" class="table table-bordered"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
