<div class="tabbable-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#country" data-toggle="tab"> Country </a>
    </li>
    <li>
      <a href="#state" data-toggle="tab"> State </a>
    </li>
    <li>
      <a href="#city" data-toggle="tab"> City </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active row" id="country">
      <app-country></app-country>
    </div>
    <div class="tab-pane row" id="state">
      <app-state></app-state>
    </div>
    <div class="tab-pane row" id="city">
      <app-city></app-city>
    </div>
  </div>
</div>
