<div class="page-wrapper">
    <app-topbar></app-topbar>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <app-sidebar></app-sidebar>
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <app-footer></app-footer>
</div>
     
<div class="quick-nav-overlay"></div>